In [1]:
import pandas as pd

In [37]:
df=pd.read_csv('5season.csv')
df = df.drop(['Unnamed: 0'],axis=1)
df.tail()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
1895,Liverpool,Wolves,2,0,H,1,0,H,13,7,5,2,3,11,4,1,0,2,0,0
1896,Man United,Cardiff,0,2,A,0,1,A,26,13,10,4,9,6,11,2,3,3,0,0
1897,Southampton,Huddersfield,1,1,D,1,0,H,10,10,3,3,8,6,4,3,0,1,0,0
1898,Tottenham,Everton,2,2,D,1,0,H,11,17,3,9,10,13,7,4,0,2,0,0
1899,Watford,West Ham,1,4,A,0,2,A,17,16,8,9,10,10,7,2,1,0,1,0

In [38]:
table = pd.DataFrame(columns=('Team','MPAH','MPAA','GSAH','GSAA','GCAH','GCAA','GSPGAH','GCPGAH','GSPGAA','GCPGAA','GSPG','GCPG'))

In [4]:
home= df.groupby('HomeTeam') 
away= df.groupby('AwayTeam')

In [5]:
table.Team = home.HomeTeam.first().values

table.MPAH=home.HomeTeam.count().values
table.MPAA=away.AwayTeam.count().values

table.GSAH = home.FTHG.sum().values
table.GCAH = home.FTAG.sum().values


table.GSAA =away.FTAG.sum().values
table.GCAA = away.FTHG.sum().values

In [6]:
table

,Team,MPAH,MPAA,GSAH,GSAA,GCAH,GCAA,GSPGAH,GCPGAH,GSPGAA,GCPGAA,GSPG,GCPG
0,Arsenal,95,95,207,153,77,141,NaN,NaN,NaN,NaN,NaN,NaN
1,Aston Villa,38,38,32,26,60,73,NaN,NaN,NaN,NaN,NaN,NaN
2,Bournemouth,76,76,114,87,118,147,NaN,NaN,NaN,NaN,NaN,NaN
3,Brighton,38,38,43,26,53,61,NaN,NaN,NaN,NaN,NaN,NaN
4,Burnley,76,76,80,68,90,125,NaN,NaN,NaN,NaN,NaN,NaN
5,Cardiff,19,19,21,13,38,31,NaN,NaN,NaN,NaN,NaN,NaN
6,Chelsea,95,95,192,150,84,111,NaN,NaN,NaN,NaN,NaN,NaN
7,Crystal Palace,95,95,112,120,125,148,NaN,NaN,NaN,NaN,NaN,NaN
8,Everton,95,95,162,105,110,143,NaN,NaN,NaN,NaN,NaN,NaN
9,Fulham,19,19,22,12,36,45,NaN,NaN,NaN,NaN,NaN,NaN
10,Huddersfield,38,38,26,24,56,78,NaN,NaN,NaN,NaN,NaN,NaN
11,Hull,38,38,47,23,59,72,NaN,NaN,NaN,NaN,NaN,NaN
12,Leicester,95,95,143,126,107,155,NaN,NaN,NaN,NaN,NaN,NaN
13,Liverpool,95,95,208,158,80,120,NaN,NaN,NaN,NaN,NaN,NaN
14,Man City,95,95,246,189,78,90,NaN,NaN,NaN,NaN,NaN,NaN
15,Man United,95,95,165,133,70,113,NaN,NaN,NaN,NaN,NaN,NaN
16,Middlesbrough,19,19,17,10,23,30,NaN,NaN,NaN,NaN,NaN,NaN
17,Newcastle,76,76,103,62,93,130,NaN,NaN,NaN,NaN,NaN,NaN
18,Norwich,19,19,26,13,30,37,NaN,NaN,NaN,NaN,NaN,NaN
19,QPR,19,19,23,19,24,49,NaN,NaN,NaN,NaN,NaN,NaN
20,Southampton,95,95,140,96,112,131,NaN,NaN,NaN,NaN,NaN,NaN
21,Stoke,76,76,98,67,100,124,NaN,NaN,NaN,NaN,NaN,NaN
22,Sunderland,57,57,55,53,81,103,NaN,NaN,NaN,NaN,NaN,NaN
23,Swansea,76,76,91,70,100,127,NaN,NaN,NaN,NaN,NaN,NaN
24,Tottenham,95,95,187,167,80,109,NaN,NaN,NaN,NaN,NaN,NaN
25,Watford,76,76,98,78,107,134,NaN,NaN,NaN,NaN,NaN,NaN
26,West Brom,76,76,92,54,103,103,NaN,NaN,NaN,NaN,NaN,NaN
27,West Ham,95,95,134,122,128,157,NaN,NaN,NaN,NaN,NaN,NaN
28,Wolves,19,19,28,19,21,25,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
table.GSPGAH = (table.GSAH / table.MPAH)
table.GCPGAH = (table.GCAH / table.MPAH)
table.GSPGAA = (table.GSAA / table.MPAA)
table.GCPGAA = (table.GCAA / table.MPAA)

In [8]:
table

,Team,MPAH,MPAA,GSAH,GSAA,GCAH,GCAA,GSPGAH,GCPGAH,GSPGAA,GCPGAA,GSPG,GCPG
0,Arsenal,95,95,207,153,77,141,2.178947,0.810526,1.610526,1.484211,NaN,NaN
1,Aston Villa,38,38,32,26,60,73,0.842105,1.578947,0.684211,1.921053,NaN,NaN
2,Bournemouth,76,76,114,87,118,147,1.500000,1.552632,1.144737,1.934211,NaN,NaN
3,Brighton,38,38,43,26,53,61,1.131579,1.394737,0.684211,1.605263,NaN,NaN
4,Burnley,76,76,80,68,90,125,1.052632,1.184211,0.894737,1.644737,NaN,NaN
5,Cardiff,19,19,21,13,38,31,1.105263,2.000000,0.684211,1.631579,NaN,NaN
6,Chelsea,95,95,192,150,84,111,2.021053,0.884211,1.578947,1.168421,NaN,NaN
7,Crystal Palace,95,95,112,120,125,148,1.178947,1.315789,1.263158,1.557895,NaN,NaN
8,Everton,95,95,162,105,110,143,1.705263,1.157895,1.105263,1.505263,NaN,NaN
9,Fulham,19,19,22,12,36,45,1.157895,1.894737,0.631579,2.368421,NaN,NaN
10,Huddersfield,38,38,26,24,56,78,0.684211,1.473684,0.631579,2.052632,NaN,NaN
11,Hull,38,38,47,23,59,72,1.236842,1.552632,0.605263,1.894737,NaN,NaN
12,Leicester,95,95,143,126,107,155,1.505263,1.126316,1.326316,1.631579,NaN,NaN
13,Liverpool,95,95,208,158,80,120,2.189474,0.842105,1.663158,1.263158,NaN,NaN
14,Man City,95,95,246,189,78,90,2.589474,0.821053,1.989474,0.947368,NaN,NaN
15,Man United,95,95,165,133,70,113,1.736842,0.736842,1.400000,1.189474,NaN,NaN
16,Middlesbrough,19,19,17,10,23,30,0.894737,1.210526,0.526316,1.578947,NaN,NaN
17,Newcastle,76,76,103,62,93,130,1.355263,1.223684,0.815789,1.710526,NaN,NaN
18,Norwich,19,19,26,13,30,37,1.368421,1.578947,0.684211,1.947368,NaN,NaN
19,QPR,19,19,23,19,24,49,1.210526,1.263158,1.000000,2.578947,NaN,NaN
20,Southampton,95,95,140,96,112,131,1.473684,1.178947,1.010526,1.378947,NaN,NaN
21,Stoke,76,76,98,67,100,124,1.289474,1.315789,0.881579,1.631579,NaN,NaN
22,Sunderland,57,57,55,53,81,103,0.964912,1.421053,0.929825,1.807018,NaN,NaN
23,Swansea,76,76,91,70,100,127,1.197368,1.315789,0.921053,1.671053,NaN,NaN
24,Tottenham,95,95,187,167,80,109,1.968421,0.842105,1.757895,1.147368,NaN,NaN
25,Watford,76,76,98,78,107,134,1.289474,1.407895,1.026316,1.763158,NaN,NaN
26,West Brom,76,76,92,54,103,103,1.210526,1.355263,0.710526,1.355263,NaN,NaN
27,West Ham,95,95,134,122,128,157,1.410526,1.347368,1.284211,1.652632,NaN,NaN
28,Wolves,19,19,28,19,21,25,1.473684,1.105263,1.000000,1.315789,NaN,NaN

In [9]:
table.GSPG = (table.GSAH+table.GSAA)/(table.MPAH+table.MPAA)
table.GCPG = (table.GCAH+table.GCAA)/(table.MPAH+table.MPAA)
table

,Team,MPAH,MPAA,GSAH,GSAA,GCAH,GCAA,GSPGAH,GCPGAH,GSPGAA,GCPGAA,GSPG,GCPG
0,Arsenal,95,95,207,153,77,141,2.178947,0.810526,1.610526,1.484211,1.894737,1.147368
1,Aston Villa,38,38,32,26,60,73,0.842105,1.578947,0.684211,1.921053,0.763158,1.750000
2,Bournemouth,76,76,114,87,118,147,1.500000,1.552632,1.144737,1.934211,1.322368,1.743421
3,Brighton,38,38,43,26,53,61,1.131579,1.394737,0.684211,1.605263,0.907895,1.500000
4,Burnley,76,76,80,68,90,125,1.052632,1.184211,0.894737,1.644737,0.973684,1.414474
5,Cardiff,19,19,21,13,38,31,1.105263,2.000000,0.684211,1.631579,0.894737,1.815789
6,Chelsea,95,95,192,150,84,111,2.021053,0.884211,1.578947,1.168421,1.800000,1.026316
7,Crystal Palace,95,95,112,120,125,148,1.178947,1.315789,1.263158,1.557895,1.221053,1.436842
8,Everton,95,95,162,105,110,143,1.705263,1.157895,1.105263,1.505263,1.405263,1.331579
9,Fulham,19,19,22,12,36,45,1.157895,1.894737,0.631579,2.368421,0.894737,2.131579
10,Huddersfield,38,38,26,24,56,78,0.684211,1.473684,0.631579,2.052632,0.657895,1.763158
11,Hull,38,38,47,23,59,72,1.236842,1.552632,0.605263,1.894737,0.921053,1.723684
12,Leicester,95,95,143,126,107,155,1.505263,1.126316,1.326316,1.631579,1.415789,1.378947
13,Liverpool,95,95,208,158,80,120,2.189474,0.842105,1.663158,1.263158,1.926316,1.052632
14,Man City,95,95,246,189,78,90,2.589474,0.821053,1.989474,0.947368,2.289474,0.884211
15,Man United,95,95,165,133,70,113,1.736842,0.736842,1.400000,1.189474,1.568421,0.963158
16,Middlesbrough,19,19,17,10,23,30,0.894737,1.210526,0.526316,1.578947,0.710526,1.394737
17,Newcastle,76,76,103,62,93,130,1.355263,1.223684,0.815789,1.710526,1.085526,1.467105
18,Norwich,19,19,26,13,30,37,1.368421,1.578947,0.684211,1.947368,1.026316,1.763158
19,QPR,19,19,23,19,24,49,1.210526,1.263158,1.000000,2.578947,1.105263,1.921053
20,Southampton,95,95,140,96,112,131,1.473684,1.178947,1.010526,1.378947,1.242105,1.278947
21,Stoke,76,76,98,67,100,124,1.289474,1.315789,0.881579,1.631579,1.085526,1.473684
22,Sunderland,57,57,55,53,81,103,0.964912,1.421053,0.929825,1.807018,0.947368,1.614035
23,Swansea,76,76,91,70,100,127,1.197368,1.315789,0.921053,1.671053,1.059211,1.493421
24,Tottenham,95,95,187,167,80,109,1.968421,0.842105,1.757895,1.147368,1.863158,0.994737
25,Watford,76,76,98,78,107,134,1.289474,1.407895,1.026316,1.763158,1.157895,1.585526
26,West Brom,76,76,92,54,103,103,1.210526,1.355263,0.710526,1.355263,0.960526,1.355263
27,West Ham,95,95,134,122,128,157,1.410526,1.347368,1.284211,1.652632,1.347368,1.500000
28,Wolves,19,19,28,19,21,25,1.473684,1.105263,1.000000,1.315789,1.236842,1.210526

In [10]:
home_matches_dict = {}
home_win_dict = {}
home_lose_dict = {}
home_draw_dict = {}


away_matches_dict = {}
away_win_dict = {}
away_lose_dict = {}
away_draw_dict = {}

home_t = df['HomeTeam']
away_t = df['AwayTeam']

In [11]:
for i, x in enumerate(df.FTR, start=0):
    if x == 'H':
        if home_t[i] in home_win_dict.keys():
            home_win_dict[home_t[i]] = home_win_dict[home_t[i]] + 1
        else:
            home_win_dict[home_t[i]] = 1
    if x == 'A':
        if home_t[i] in home_lose_dict.keys():
            home_lose_dict[home_t[i]] = home_lose_dict[home_t[i]] + 1
        else:
            home_lose_dict[home_t[i]] = 1
    if x == 'D':
        if home_t[i] in home_draw_dict.keys():
            home_draw_dict[home_t[i]] = home_draw_dict[home_t[i]] + 1
        else:
            home_draw_dict[home_t[i]] = 1

In [12]:
print(home_win_dict)

{'Arsenal': 67, 'Liverpool': 59, 'Chelsea': 60, 'Swansea': 31, 'Tottenham': 62, 'Man City': 71, 'QPR': 6, 'Aston Villa': 7, 'Southampton': 37, 'Man United': 59, 'West Ham': 41, 'Leicester': 44, 'Crystal Palace': 30, 'West Brom': 25, 'Stoke': 30, 'Hull': 13, 'Sunderland': 13, 'Everton': 46, 'Newcastle': 30, 'Burnley': 28, 'Norwich': 6, 'Watford': 29, 'Bournemouth': 29, 'Middlesbrough': 4, 'Huddersfield': 8, 'Brighton': 13, 'Fulham': 6, 'Wolves': 10, 'Cardiff': 6}

In [13]:
print(home_lose_dict)

{'Man United': 11, 'QPR': 8, 'Stoke': 28, 'West Ham': 29, 'Newcastle': 29, 'Burnley': 31, 'Crystal Palace': 47, 'Everton': 25, 'Man City': 10, 'Tottenham': 16, 'Liverpool': 9, 'West Brom': 31, 'Aston Villa': 20, 'Swansea': 28, 'Hull': 16, 'Sunderland': 25, 'Leicester': 27, 'Arsenal': 11, 'Southampton': 30, 'Bournemouth': 28, 'Norwich': 8, 'Chelsea': 12, 'Watford': 28, 'Middlesbrough': 9, 'Brighton': 12, 'Huddersfield': 22, 'Fulham': 10, 'Cardiff': 11, 'Wolves': 5}

In [14]:
print(home_draw_dict)

{'Leicester': 24, 'West Brom': 20, 'Aston Villa': 11, 'Everton': 24, 'Southampton': 28, 'Hull': 9, 'Sunderland': 19, 'Burnley': 17, 'Newcastle': 17, 'Arsenal': 17, 'Crystal Palace': 18, 'QPR': 5, 'Man City': 14, 'Liverpool': 27, 'Swansea': 17, 'Man United': 25, 'Stoke': 18, 'West Ham': 25, 'Tottenham': 17, 'Chelsea': 23, 'Watford': 19, 'Norwich': 5, 'Bournemouth': 19, 'Middlesbrough': 6, 'Huddersfield': 8, 'Brighton': 13, 'Wolves': 4, 'Cardiff': 2, 'Fulham': 3}

In [15]:
for i, x in enumerate(df.FTR, start=0):
    if x == 'A':
        if away_t[i] in away_win_dict.keys():
            away_win_dict[away_t[i]] = away_win_dict[away_t[i]] + 1
        else:
            away_win_dict[away_t[i]] = 1
    if x == 'H':
        if away_t[i] in away_lose_dict.keys():
            away_lose_dict[away_t[i]] = away_lose_dict[away_t[i]] + 1
        else:
            away_lose_dict[away_t[i]] = 1
    if x == 'D':
        if away_t[i] in away_draw_dict.keys():
            away_draw_dict[away_t[i]] = away_draw_dict[away_t[i]] + 1
        else:
            away_draw_dict[away_t[i]] = 1

In [16]:
teams = home.HomeTeam.first().values

In [17]:
team_sorted_list=sorted(teams)
print(team_sorted_list)

['Arsenal', 'Aston Villa', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield', 'Hull', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Middlesbrough', 'Newcastle', 'Norwich', 'QPR', 'Southampton', 'Stoke', 'Sunderland', 'Swansea', 'Tottenham', 'Watford', 'West Brom', 'West Ham', 'Wolves']

In [18]:
HTWAH=[]
for i,v in enumerate(home_win_dict.values(),start=0):
    HTWAH.append(home_win_dict[team_sorted_list[i]])
print(HTWAH)

[67, 7, 29, 13, 28, 6, 60, 30, 46, 6, 8, 13, 44, 59, 71, 59, 4, 30, 6, 6, 37, 30, 13, 31, 62, 29, 25, 41, 10]

In [19]:
HTDAH=[]
for i,v in enumerate(home_draw_dict.values(),start=0):
    HTDAH.append(home_draw_dict[team_sorted_list[i]])
print(HTDAH)

[17, 11, 19, 13, 17, 2, 23, 18, 24, 3, 8, 9, 24, 27, 14, 25, 6, 17, 5, 5, 28, 18, 19, 17, 17, 19, 20, 25, 4]

In [20]:
HTWAA=[]
for i,v in enumerate(away_win_dict.values(),start=0):
    HTWAA.append(away_win_dict[team_sorted_list[i]])
print(HTWAA)

[38, 6, 18, 5, 15, 4, 50, 31, 22, 1, 4, 4, 29, 48, 59, 42, 1, 13, 3, 2, 27, 17, 9, 17, 48, 19, 14, 24, 6]

In [21]:
HTDAA=[]
for i,v in enumerate(away_draw_dict.values(),start=0):
    HTDAA.append(away_draw_dict[team_sorted_list[i]])
print(HTDAA)

[22, 5, 17, 9, 21, 2, 19, 23, 30, 2, 9, 9, 22, 22, 17, 24, 7, 19, 2, 1, 24, 23, 16, 16, 21, 13, 26, 28, 5]

In [22]:
TMW=[]
for i in  range(len(HTWAH)):
    TMW.append(HTWAH[i]+HTWAA[i])
print(TMW)

[105, 13, 47, 18, 43, 10, 110, 61, 68, 7, 12, 17, 73, 107, 130, 101, 5, 43, 9, 8, 64, 47, 22, 48, 110, 48, 39, 65, 16]

In [23]:
TMD=[]
for i in  range(len(HTDAH)):
    TMD.append(HTDAH[i]+HTDAA[i])
print(TMD)

[39, 16, 36, 22, 38, 4, 42, 41, 54, 5, 17, 18, 46, 49, 31, 49, 13, 36, 7, 6, 52, 41, 35, 33, 38, 32, 46, 53, 9]

In [24]:
TP=[]
for i in  range(len(TMW)):
    TP.append((TMW[i]*3)+TMD[i])
print(TP)

[354, 55, 177, 76, 167, 34, 372, 224, 258, 26, 53, 69, 265, 370, 421, 352, 28, 165, 34, 30, 244, 182, 101, 177, 368, 176, 163, 248, 57]

In [25]:
table['TP']=TP
table

,Team,MPAH,MPAA,GSAH,GSAA,GCAH,GCAA,GSPGAH,GCPGAH,GSPGAA,GCPGAA,GSPG,GCPG,TP
0,Arsenal,95,95,207,153,77,141,2.178947,0.810526,1.610526,1.484211,1.894737,1.147368,354
1,Aston Villa,38,38,32,26,60,73,0.842105,1.578947,0.684211,1.921053,0.763158,1.750000,55
2,Bournemouth,76,76,114,87,118,147,1.500000,1.552632,1.144737,1.934211,1.322368,1.743421,177
3,Brighton,38,38,43,26,53,61,1.131579,1.394737,0.684211,1.605263,0.907895,1.500000,76
4,Burnley,76,76,80,68,90,125,1.052632,1.184211,0.894737,1.644737,0.973684,1.414474,167
5,Cardiff,19,19,21,13,38,31,1.105263,2.000000,0.684211,1.631579,0.894737,1.815789,34
6,Chelsea,95,95,192,150,84,111,2.021053,0.884211,1.578947,1.168421,1.800000,1.026316,372
7,Crystal Palace,95,95,112,120,125,148,1.178947,1.315789,1.263158,1.557895,1.221053,1.436842,224
8,Everton,95,95,162,105,110,143,1.705263,1.157895,1.105263,1.505263,1.405263,1.331579,258
9,Fulham,19,19,22,12,36,45,1.157895,1.894737,0.631579,2.368421,0.894737,2.131579,26
10,Huddersfield,38,38,26,24,56,78,0.684211,1.473684,0.631579,2.052632,0.657895,1.763158,53
11,Hull,38,38,47,23,59,72,1.236842,1.552632,0.605263,1.894737,0.921053,1.723684,69
12,Leicester,95,95,143,126,107,155,1.505263,1.126316,1.326316,1.631579,1.415789,1.378947,265
13,Liverpool,95,95,208,158,80,120,2.189474,0.842105,1.663158,1.263158,1.926316,1.052632,370
14,Man City,95,95,246,189,78,90,2.589474,0.821053,1.989474,0.947368,2.289474,0.884211,421
15,Man United,95,95,165,133,70,113,1.736842,0.736842,1.400000,1.189474,1.568421,0.963158,352
16,Middlesbrough,19,19,17,10,23,30,0.894737,1.210526,0.526316,1.578947,0.710526,1.394737,28
17,Newcastle,76,76,103,62,93,130,1.355263,1.223684,0.815789,1.710526,1.085526,1.467105,165
18,Norwich,19,19,26,13,30,37,1.368421,1.578947,0.684211,1.947368,1.026316,1.763158,34
19,QPR,19,19,23,19,24,49,1.210526,1.263158,1.000000,2.578947,1.105263,1.921053,30
20,Southampton,95,95,140,96,112,131,1.473684,1.178947,1.010526,1.378947,1.242105,1.278947,244
21,Stoke,76,76,98,67,100,124,1.289474,1.315789,0.881579,1.631579,1.085526,1.473684,182
22,Sunderland,57,57,55,53,81,103,0.964912,1.421053,0.929825,1.807018,0.947368,1.614035,101
23,Swansea,76,76,91,70,100,127,1.197368,1.315789,0.921053,1.671053,1.059211,1.493421,177
24,Tottenham,95,95,187,167,80,109,1.968421,0.842105,1.757895,1.147368,1.863158,0.994737,368
25,Watford,76,76,98,78,107,134,1.289474,1.407895,1.026316,1.763158,1.157895,1.585526,176
26,West Brom,76,76,92,54,103,103,1.210526,1.355263,0.710526,1.355263,0.960526,1.355263,163
27,West Ham,95,95,134,122,128,157,1.410526,1.347368,1.284211,1.652632,1.347368,1.500000,248
28,Wolves,19,19,28,19,21,25,1.473684,1.105263,1.000000,1.315789,1.236842,1.210526,57

In [26]:
table['PPG']=table.TP/(table.MPAH+table.MPAA)
table

,Team,MPAH,MPAA,GSAH,GSAA,GCAH,GCAA,GSPGAH,GCPGAH,GSPGAA,GCPGAA,GSPG,GCPG,TP,PPG
0,Arsenal,95,95,207,153,77,141,2.178947,0.810526,1.610526,1.484211,1.894737,1.147368,354,1.863158
1,Aston Villa,38,38,32,26,60,73,0.842105,1.578947,0.684211,1.921053,0.763158,1.750000,55,0.723684
2,Bournemouth,76,76,114,87,118,147,1.500000,1.552632,1.144737,1.934211,1.322368,1.743421,177,1.164474
3,Brighton,38,38,43,26,53,61,1.131579,1.394737,0.684211,1.605263,0.907895,1.500000,76,1.000000
4,Burnley,76,76,80,68,90,125,1.052632,1.184211,0.894737,1.644737,0.973684,1.414474,167,1.098684
5,Cardiff,19,19,21,13,38,31,1.105263,2.000000,0.684211,1.631579,0.894737,1.815789,34,0.894737
6,Chelsea,95,95,192,150,84,111,2.021053,0.884211,1.578947,1.168421,1.800000,1.026316,372,1.957895
7,Crystal Palace,95,95,112,120,125,148,1.178947,1.315789,1.263158,1.557895,1.221053,1.436842,224,1.178947
8,Everton,95,95,162,105,110,143,1.705263,1.157895,1.105263,1.505263,1.405263,1.331579,258,1.357895
9,Fulham,19,19,22,12,36,45,1.157895,1.894737,0.631579,2.368421,0.894737,2.131579,26,0.684211
10,Huddersfield,38,38,26,24,56,78,0.684211,1.473684,0.631579,2.052632,0.657895,1.763158,53,0.697368
11,Hull,38,38,47,23,59,72,1.236842,1.552632,0.605263,1.894737,0.921053,1.723684,69,0.907895
12,Leicester,95,95,143,126,107,155,1.505263,1.126316,1.326316,1.631579,1.415789,1.378947,265,1.394737
13,Liverpool,95,95,208,158,80,120,2.189474,0.842105,1.663158,1.263158,1.926316,1.052632,370,1.947368
14,Man City,95,95,246,189,78,90,2.589474,0.821053,1.989474,0.947368,2.289474,0.884211,421,2.215789
15,Man United,95,95,165,133,70,113,1.736842,0.736842,1.400000,1.189474,1.568421,0.963158,352,1.852632
16,Middlesbrough,19,19,17,10,23,30,0.894737,1.210526,0.526316,1.578947,0.710526,1.394737,28,0.736842
17,Newcastle,76,76,103,62,93,130,1.355263,1.223684,0.815789,1.710526,1.085526,1.467105,165,1.085526
18,Norwich,19,19,26,13,30,37,1.368421,1.578947,0.684211,1.947368,1.026316,1.763158,34,0.894737
19,QPR,19,19,23,19,24,49,1.210526,1.263158,1.000000,2.578947,1.105263,1.921053,30,0.789474
20,Southampton,95,95,140,96,112,131,1.473684,1.178947,1.010526,1.378947,1.242105,1.278947,244,1.284211
21,Stoke,76,76,98,67,100,124,1.289474,1.315789,0.881579,1.631579,1.085526,1.473684,182,1.197368
22,Sunderland,57,57,55,53,81,103,0.964912,1.421053,0.929825,1.807018,0.947368,1.614035,101,0.885965
23,Swansea,76,76,91,70,100,127,1.197368,1.315789,0.921053,1.671053,1.059211,1.493421,177,1.164474
24,Tottenham,95,95,187,167,80,109,1.968421,0.842105,1.757895,1.147368,1.863158,0.994737,368,1.936842
25,Watford,76,76,98,78,107,134,1.289474,1.407895,1.026316,1.763158,1.157895,1.585526,176,1.157895
26,West Brom,76,76,92,54,103,103,1.210526,1.355263,0.710526,1.355263,0.960526,1.355263,163,1.072368
27,West Ham,95,95,134,122,128,157,1.410526,1.347368,1.284211,1.652632,1.347368,1.500000,248,1.305263
28,Wolves,19,19,28,19,21,25,1.473684,1.105263,1.000000,1.315789,1.236842,1.210526,57,1.500000

In [27]:
team_group=[]
h2h_hw={}
h2h_aw={}
drawn={}

for index,row in df.iterrows():
    x=row.HomeTeam
    y=row.AwayTeam
    team_pair=x+","+y
    
    if team_pair in team_group:
        if row.FTR == 'H':
            h2h_hw[team_pair]=h2h_hw[team_pair]+1
            
        if row.FTR == 'A':
            h2h_aw[team_pair]=h2h_aw[team_pair]+1
        if row.FTR =='D':
            drawn[team_pair]=drawn[team_pair]+1
    
    else:
        team_group.append(team_pair)
        if row.FTR == 'H':
            h2h_hw[team_pair]=1
            h2h_aw[team_pair]=0
            drawn[team_pair]=0
            
            
        if row.FTR == 'A':
            h2h_aw[team_pair]=1
            h2h_hw[team_pair]=0
            drawn[team_pair]=0
            
            
        if row.FTR =='D':
            h2h_hw[team_pair]=0
            h2h_aw[team_pair]=0
            drawn[team_pair]=1
        
            
            
Team=[]
H2H_HW=[]
H2H_AW=[]
Drawn=[]
for i,j in h2h_hw.items():
        a,b=i.split(',')
        k=f"{a},{b}"
        Team.append(k)
        H2H_HW.append(j)

for i,j in h2h_aw.items():
        H2H_AW.append(j)
for i,j in drawn.items():
        Drawn.append(j)


def c(Team,H2H_HW,H2H_AW,Drawn):
    return [list(c) for c in zip(Team,H2H_HW,H2H_AW,Drawn)]

features = c(Team,H2H_HW,H2H_AW,Drawn)

In [28]:
h2h=pd.read_csv('HTWPAH_VS_AT.csv')
home=h2h.Team
home_t=[]
away_t=[]
for i in home:
    h,a=i.split(',')
    
    home_t.append(h)
    away_t.append(a)
    

h2h['HomeTeam']=home_t
h2h['AwayTeam']=away_t
h2h
h2h=h2h.drop(['Team'],1)
h2h_csv=h2h
columns=['HomeTeam','AwayTeam','H2H_HW','H2H_AW','Drawn']
head_2=h2h_csv.reindex(columns=columns)
head_2
head_2.to_csv('HTWPAH_VS_AT_CLEAN.csv')

In [29]:

home=df.HomeTeam[::-1]
away=df.AwayTeam[::-1]
HC=df.HC[::-1]
AC=df.AC[::-1]
HG=df.FTHG[::-1]
AG=df.FTAG[::-1]
HS=df.HS[::-1]
AS=df.AS[::-1]
HST=df.HST[::-1]
AST=df.AST[::-1]

flag=1899

teams={}
last_5={}
last_5_str={}
last_5_C={}
last_5_S={}
last_5_ST={}
last_5_G={}



for r  in  df.FTR[::-1]:
   
    if r == 'H':
        
        if home[flag] in teams.keys():
            if last_5[home[flag]] <5:
                teams[home[flag]]=teams[home[flag]]+3
                last_5[home[flag]]=last_5[home[flag]]+1
                last_5_str[home[flag]]=last_5_str[home[flag]]+'W'   
                
                last_5_C[home[flag]]=last_5_C[home[flag]]+HC[flag]
                last_5_S[home[flag]]=last_5_S[home[flag]]+HS[flag]
                last_5_ST[home[flag]]=last_5_ST[home[flag]]+HST[flag]
                last_5_G[home[flag]]=last_5_G[home[flag]]+HG[flag]
                                             
        else:
            teams[home[flag]]=3
            last_5[home[flag]]=1
            last_5_str[home[flag]]='W'
            
            last_5_C[home[flag]]=HC[flag]
            last_5_S[home[flag]]=HS[flag]
            last_5_ST[home[flag]]=HST[flag]
            last_5_G[home[flag]]=HG[flag]
            
            
            
        if away[flag] in teams.keys():
            if last_5[away[flag]] <5:
                teams[away[flag]]=teams[away[flag]]+0
                last_5[away[flag]]=last_5[away[flag]]+1
                last_5_str[away[flag]]=last_5_str[away[flag]]+'L'
                
                last_5_C[away[flag]]=last_5_C[away[flag]]+AC[flag]
                last_5_S[away[flag]]=last_5_S[away[flag]]+AS[flag]
                last_5_ST[away[flag]]=last_5_ST[away[flag]]+AST[flag]
                last_5_G[away[flag]]=last_5_G[away[flag]]+AG[flag]
                
                             
        else:
            teams[away[flag]]=0
            last_5[away[flag]]=1
            last_5_str[away[flag]]='L'
            
            
            last_5_C[away[flag]]=AC[flag]
            last_5_S[away[flag]]=AS[flag]
            last_5_ST[away[flag]]=AST[flag]
            last_5_G[away[flag]]=AG[flag]
            
          
            
            
        
            
    if r == 'A':
        if away[flag] in teams.keys():
            if last_5[away[flag]] <5:
                teams[away[flag]]=teams[away[flag]]+3
                last_5[away[flag]]=last_5[away[flag]]+1
                last_5_str[away[flag]]=last_5_str[away[flag]]+'W'
                
                last_5_C[away[flag]]=last_5_C[away[flag]]+AC[flag]
                last_5_S[away[flag]]=last_5_S[away[flag]]+AS[flag]
                last_5_ST[away[flag]]=last_5_ST[away[flag]]+AST[flag]
                last_5_G[away[flag]]=last_5_G[away[flag]]+AG[flag]
                
                     
        else:
            teams[away[flag]]=3
            last_5[away[flag]]=1
            last_5_str[away[flag]]='W'
            
              
            last_5_C[away[flag]]=AC[flag]
            last_5_S[away[flag]]=AS[flag]
            last_5_ST[away[flag]]=AST[flag]
            last_5_G[away[flag]]=AG[flag]
            
        
        
        if home[flag] in teams.keys():
            if last_5[home[flag]] <5:
                teams[home[flag]]=teams[home[flag]]+0
                last_5[home[flag]]=last_5[home[flag]]+1
                last_5_str[home[flag]]=last_5_str[home[flag]]+'L'
                
                last_5_C[home[flag]]=last_5_C[home[flag]]+HC[flag]
                last_5_S[home[flag]]=last_5_S[home[flag]]+HS[flag]
                last_5_ST[home[flag]]=last_5_ST[home[flag]]+HST[flag]
                last_5_G[home[flag]]=last_5_G[home[flag]]+HG[flag]
                                             
        else:
            teams[home[flag]]=0
            last_5[home[flag]]=1
            last_5_str[home[flag]]='L'
            
            last_5_C[home[flag]]=HC[flag]
            last_5_S[home[flag]]=HS[flag]
            last_5_ST[home[flag]]=HST[flag]
            last_5_G[home[flag]]=HG[flag]
            
          
           
            
            
    if r =='D':
        if home[flag] in teams.keys():
            
            if last_5[home[flag]] <5:
                teams[home[flag]]=teams[home[flag]]+1
                last_5[home[flag]]=last_5[home[flag]]+1
                last_5_str[home[flag]]=last_5_str[home[flag]]+r
                
                last_5_C[home[flag]]=last_5_C[home[flag]]+HC[flag]
                last_5_S[home[flag]]=last_5_S[home[flag]]+HS[flag]
                last_5_ST[home[flag]]=last_5_ST[home[flag]]+HST[flag]
                last_5_G[home[flag]]=last_5_G[home[flag]]+HG[flag]
            
         
        else:
            teams[home[flag]]=1
            last_5[home[flag]]=1
            last_5_str[home[flag]]=r
            
            last_5_C[home[flag]]=HC[flag]
            last_5_S[home[flag]]=HS[flag]
            last_5_ST[home[flag]]=HST[flag]
            last_5_G[home[flag]]=HG[flag]
            
        
        
        if away[flag] in teams.keys():
            
            if last_5[away[flag]] <5:
                teams[away[flag]]=teams[away[flag]]+1
                last_5[away[flag]]=last_5[away[flag]]+1
                last_5_str[away[flag]]=last_5_str[away[flag]]+r
                
                last_5_C[away[flag]]=last_5_C[away[flag]]+AC[flag]
                last_5_S[away[flag]]=last_5_S[away[flag]]+AS[flag]
                last_5_ST[away[flag]]=last_5_ST[away[flag]]+AST[flag]
                last_5_G[away[flag]]=last_5_G[away[flag]]+AG[flag]
         
        else:
            teams[away[flag]]=1
            last_5[away[flag]]=1
            last_5_str[away[flag]]=r
            
                
            last_5_C[away[flag]]=AC[flag]
            last_5_S[away[flag]]=AS[flag]
            last_5_ST[away[flag]]=AST[flag]
            last_5_G[away[flag]]=AG[flag]
            
    flag=flag-1
    

     
print(last_5_S)

{'West Ham': 78, 'Watford': 68, 'Tottenham': 75, 'Everton': 82, 'Southampton': 66, 'Huddersfield': 42, 'Cardiff': 61, 'Man United': 75, 'Liverpool': 77, 'Wolves': 70, 'Leicester': 63, 'Chelsea': 77, 'Newcastle': 62, 'Fulham': 59, 'Crystal Palace': 69, 'Bournemouth': 74, 'Arsenal': 66, 'Burnley': 41, 'Man City': 87, 'Brighton': 37, 'Stoke': 39, 'Swansea': 63, 'West Brom': 48, 'Middlesbrough': 45, 'Hull': 52, 'Sunderland': 55, 'Norwich': 67, 'Aston Villa': 37, 'QPR': 63}

In [30]:
LFMFP=[]
for i,v in enumerate(teams.values(),start=0):
    LFMFP.append(teams[team_sorted_list[i]])
print(LFMFP)

[4, 1, 7, 3, 4, 6, 6, 10, 8, 9, 2, 4, 5, 15, 15, 2, 4, 10, 3, 4, 3, 6, 3, 0, 4, 4, 10, 10, 10]

In [31]:
WS2=[]
def get_2game_ws(string):
    if string[-2:] == 'WW':
        return 1
    else:
        return 0
for i,v in enumerate(last_5_str.values(),start=0):
    string=last_5_str[team_sorted_list[i]]
    WS2.append(get_2game_ws(string))
print(WS2)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [32]:
WS4=[]
def get_4game_ws(string):
    if string[-4:] == 'WWWW':
        return 1
    else:
        return 0
for i,v in enumerate(last_5_str.values(),start=0):
    string=last_5_str[team_sorted_list[i]]
    WS4.append(get_4game_ws(string))
print(WS4)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [33]:
LS2=[]
def get_2game_ls(string):
    if string[-2:] == 'LL':
        return 1
    else:
        return 0
for i,v in enumerate(last_5_str.values(),start=0):
    string=last_5_str[team_sorted_list[i]]
    LS2.append(get_2game_ls(string))
print(LS2)

[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [34]:
LS4=[]
def get_4game_ls(string):
    if string[-4:] == 'LLLL':
        return 1
    else:
        return 0
for i,v in enumerate(last_5_str.values(),start=0):
    string=last_5_str[team_sorted_list[i]]
    LS4.append(get_4game_ls(string))
print(LS4)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [35]:
matches_dict = {}
win_dict = {}

home_t = df['HomeTeam']
away_t = df['AwayTeam']

for x in df.HomeTeam:
    if x in matches_dict.keys():
        matches_dict[x] = matches_dict[x] + 1
    else:
        matches_dict[x] = 1
        
        
for x in df.AwayTeam:
    if x in matches_dict.keys():
        matches_dict[x] = matches_dict[x] + 1
    else:
        matches_dict[x] = 1  
        
draw_count = 0        
        
for i, x in enumerate(df.FTR, start=0):
    if x == 'H':
        if home_t[i] in win_dict.keys():
            win_dict[home_t[i]] = win_dict[home_t[i]] + 1
        else:
            win_dict[home_t[i]] = 1
            
    if x == 'A':
        if away_t[i] in win_dict.keys():
            win_dict[away_t[i]] = win_dict[away_t[i]] + 1
        else:
            win_dict[away_t[i]] = 1
    if x == 'D':
        draw_count += 1
    
        

print(f'Draw: {draw_count}')

Draw: 454

In [36]:
import math
win_per=[]
for i in team_sorted_list:
    win_per.append(math.ceil((win_dict[i]/matches_dict[i])*100))
    
print(win_per)

[56, 18, 31, 24, 29, 27, 58, 33, 36, 19, 16, 23, 39, 57, 69, 54, 14, 29, 24, 22, 34, 31, 20, 32, 58, 32, 26, 35, 43]

In [76]:
table['WN_%']=win_per
table['LFMFP']=LFMFP
table['WS2']=WS2
table['LS2']=LS2
table['WS4']=WS4
table['LS4']=LS4
li=[70,17,45,36,40,34,72,49,54,26,16,34,52,97,98,66,28,45,34,30,39,33,24,33,71,50,31,52,57]
table['LSLP']=li
table

,Team,MPAH,MPAA,GSAH,GSAA,GCAH,GCAA,GSPGAH,GCPGAH,GSPGAA,...,GCPG,TP,PPG,WN_%,LFMFP,WS2,LS2,WS4,LS4,LSLP
0,Arsenal,95,95,207,153,77,141,2.178947,0.810526,1.610526,...,1.147368,354,1.863158,56,4,0,1,0,0,70
1,Aston Villa,38,38,32,26,60,73,0.842105,1.578947,0.684211,...,1.750000,55,0.723684,18,1,0,1,0,0,17
2,Bournemouth,76,76,114,87,118,147,1.500000,1.552632,1.144737,...,1.743421,177,1.164474,31,7,0,0,0,0,45
3,Brighton,38,38,43,26,53,61,1.131579,1.394737,0.684211,...,1.500000,76,1.000000,24,3,0,0,0,0,36
4,Burnley,76,76,80,68,90,125,1.052632,1.184211,0.894737,...,1.414474,167,1.098684,29,4,0,0,0,0,40
5,Cardiff,19,19,21,13,38,31,1.105263,2.000000,0.684211,...,1.815789,34,0.894737,27,6,0,0,0,0,34
6,Chelsea,95,95,192,150,84,111,2.021053,0.884211,1.578947,...,1.026316,372,1.957895,58,6,0,0,0,0,72
7,Crystal Palace,95,95,112,120,125,148,1.178947,1.315789,1.263158,...,1.436842,224,1.178947,33,10,0,0,0,0,49
8,Everton,95,95,162,105,110,143,1.705263,1.157895,1.105263,...,1.331579,258,1.357895,36,8,0,0,0,0,54
9,Fulham,19,19,22,12,36,45,1.157895,1.894737,0.631579,...,2.131579,26,0.684211,19,9,1,0,0,0,26
10,Huddersfield,38,38,26,24,56,78,0.684211,1.473684,0.631579,...,1.763158,53,0.697368,16,2,0,1,0,0,16
11,Hull,38,38,47,23,59,72,1.236842,1.552632,0.605263,...,1.723684,69,0.907895,23,4,0,0,0,0,34
12,Leicester,95,95,143,126,107,155,1.505263,1.126316,1.326316,...,1.378947,265,1.394737,39,5,0,0,0,0,52
13,Liverpool,95,95,208,158,80,120,2.189474,0.842105,1.663158,...,1.052632,370,1.947368,57,15,1,0,1,0,97
14,Man City,95,95,246,189,78,90,2.589474,0.821053,1.989474,...,0.884211,421,2.215789,69,15,1,0,1,0,98
15,Man United,95,95,165,133,70,113,1.736842,0.736842,1.400000,...,0.963158,352,1.852632,54,2,0,1,0,0,66
16,Middlesbrough,19,19,17,10,23,30,0.894737,1.210526,0.526316,...,1.394737,28,0.736842,14,4,0,0,0,0,28
17,Newcastle,76,76,103,62,93,130,1.355263,1.223684,0.815789,...,1.467105,165,1.085526,29,10,1,0,0,0,45
18,Norwich,19,19,26,13,30,37,1.368421,1.578947,0.684211,...,1.763158,34,0.894737,24,3,0,1,0,0,34
19,QPR,19,19,23,19,24,49,1.210526,1.263158,1.000000,...,1.921053,30,0.789474,22,4,0,0,0,0,30
20,Southampton,95,95,140,96,112,131,1.473684,1.178947,1.010526,...,1.278947,244,1.284211,34,3,0,0,0,0,39
21,Stoke,76,76,98,67,100,124,1.289474,1.315789,0.881579,...,1.473684,182,1.197368,31,6,0,0,0,0,33
22,Sunderland,57,57,55,53,81,103,0.964912,1.421053,0.929825,...,1.614035,101,0.885965,20,3,0,0,0,0,24
23,Swansea,76,76,91,70,100,127,1.197368,1.315789,0.921053,...,1.493421,177,1.164474,32,0,0,1,0,1,33
24,Tottenham,95,95,187,167,80,109,1.968421,0.842105,1.757895,...,0.994737,368,1.936842,58,4,0,0,0,0,71
25,Watford,76,76,98,78,107,134,1.289474,1.407895,1.026316,...,1.585526,176,1.157895,32,4,0,0,0,0,50
26,West Brom,76,76,92,54,103,103,1.210526,1.355263,0.710526,...,1.355263,163,1.072368,26,10,0,0,0,0,31
27,West Ham,95,95,134,122,128,157,1.410526,1.347368,1.284211,...,1.500000,248,1.305263,35,10,0,0,0,0,52
28,Wolves,19,19,28,19,21,25,1.473684,1.105263,1.000000,...,1.210526,57,1.500000,43,10,0,0,0,0,57

In [79]:

feature_table = df

feature_table = feature_table[['HomeTeam','AwayTeam','FTR']]

HT_GSPGAH = []
HT_GCPGAH = []
AT_GSPGAA = []
AT_GCPGAA = []

HT_GSPG=[]
HT_GCPG=[]

AT_GSPG=[]
AT_GCPG=[]

HT_PPG = []
AT_PPG=[]


HT_LSLP=[]
AT_LSLP=[]

HT_WNP=[]
AT_WNP=[]

HT_LFMFP=[]
AT_LFMFP=[]

HT_WS2=[]
AT_WS2=[]

HT_WS4=[]
AT_WS4=[]

HT_LS2=[]
AT_LS2=[]


HT_LS4=[]
AT_LS4=[]


for index,row in feature_table.iterrows():
    HT_GSPGAH.append(table[table['Team'] == row['HomeTeam']]['GSPGAH'].values[0])
    HT_GCPGAH.append(table[table['Team'] == row['HomeTeam']]['GCPGAH'].values[0])
    HT_GSPG.append(table[table['Team'] == row['HomeTeam']]['GSPG'].values[0])
    HT_GCPG.append(table[table['Team'] == row['HomeTeam']]['GCPG'].values[0])
    HT_PPG.append(table[table['Team'] == row['HomeTeam']]['PPG'].values[0])
    HT_LSLP.append(table[table['Team'] == row['HomeTeam']]['LSLP'].values[0])
    HT_WNP.append(table[table['Team'] == row['HomeTeam']]['WN_%'].values[0])
    HT_LFMFP.append(table[table['Team'] == row['HomeTeam']]['LFMFP'].values[0])
    HT_WS2.append(table[table['Team'] == row['HomeTeam']]['WS2'].values[0])
    HT_WS4.append(table[table['Team'] == row['HomeTeam']]['WS4'].values[0])
    HT_LS2.append(table[table['Team'] == row['HomeTeam']]['LS2'].values[0])
    HT_LS4.append(table[table['Team'] == row['HomeTeam']]['LS4'].values[0])

    
    
    AT_GSPGAA.append(table[table['Team'] == row['AwayTeam']]['GSPGAA'].values[0])
    AT_GCPGAA.append(table[table['Team'] == row['AwayTeam']]['GCPGAA'].values[0])
    AT_GSPG.append(table[table['Team'] == row['AwayTeam']]['GSPG'].values[0])
    AT_GCPG.append(table[table['Team'] == row['AwayTeam']]['GCPG'].values[0])
    AT_PPG.append(table[table['Team'] == row['AwayTeam']]['PPG'].values[0])
    AT_LSLP.append(table[table['Team'] == row['AwayTeam']]['LSLP'].values[0])
    AT_WNP.append(table[table['Team'] == row['AwayTeam']]['WN_%'].values[0])
    AT_LFMFP.append(table[table['Team'] == row['AwayTeam']]['LFMFP'].values[0])
    AT_WS2.append(table[table['Team'] == row['AwayTeam']]['WS2'].values[0])
    AT_WS4.append(table[table['Team'] == row['AwayTeam']]['WS4'].values[0])
    AT_LS2.append(table[table['Team'] == row['AwayTeam']]['LS2'].values[0])
    AT_LS4.append(table[table['Team'] == row['AwayTeam']]['LS4'].values[0])



    
    

feature_table['HT_GSPGAH'] = HT_GSPGAH
feature_table['HT_GCPGAH'] = HT_GCPGAH
feature_table['AT_GSPGAA'] = AT_GSPGAA
feature_table['AT_GCPGAA'] = AT_GCPGAA
feature_table['HT_GSPG'] = HT_GSPG
feature_table['HT_GCPG'] = HT_GCPG
feature_table['AT_GSPG'] = AT_GSPG
feature_table['AT_GCPG'] = AT_GCPG

feature_table['HT_PPG'] = HT_PPG
feature_table['AT_PPG'] = AT_PPG

feature_table['HT_LSLP'] = HT_LSLP
feature_table['AT_LSLP'] = AT_LSLP
feature_table['HT_WNP'] = HT_WNP
feature_table['AT_WNP'] = AT_WNP
feature_table['HT_LFMFP'] = HT_LFMFP
feature_table['AT_LFMFP'] = AT_LFMFP
feature_table['HT_WS2'] = HT_WS2
feature_table['HT_WS4'] = HT_WS4
feature_table['AT_WS2'] = AT_WS2
feature_table['AT_WS4'] = AT_WS4
feature_table['HT_LS2'] = HT_LS2
feature_table['HT_LS4'] = HT_LS4
feature_table['AT_LS2'] = AT_LS2
feature_table['AT_LS4'] = AT_LS4

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [80]:
feature_table

,HomeTeam,AwayTeam,FTR,HT_GSPGAH,HT_GCPGAH,AT_GSPGAA,AT_GCPGAA,HT_GSPG,HT_GCPG,AT_GSPG,...,HT_LFMFP,AT_LFMFP,HT_WS2,HT_WS4,AT_WS2,AT_WS4,HT_LS2,HT_LS4,AT_LS2,AT_LS4
0,Arsenal,Crystal Palace,H,2.178947,0.810526,1.263158,1.557895,1.894737,1.147368,1.221053,...,4,10,0,0,0,0,1,0,0,0
1,Leicester,Everton,D,1.505263,1.126316,1.105263,1.505263,1.415789,1.378947,1.405263,...,5,8,0,0,0,0,0,0,0,0
2,Man United,Swansea,A,1.736842,0.736842,0.921053,1.671053,1.568421,0.963158,1.059211,...,2,0,0,0,0,0,1,0,1,1
3,QPR,Hull,A,1.210526,1.263158,0.605263,1.894737,1.105263,1.921053,0.921053,...,4,4,0,0,0,0,0,0,0,0
4,Stoke,Aston Villa,A,1.289474,1.315789,0.684211,1.921053,1.085526,1.473684,0.763158,...,6,1,0,0,0,0,0,0,1,0
5,West Brom,Sunderland,D,1.210526,1.355263,0.929825,1.807018,0.960526,1.355263,0.947368,...,10,3,0,0,0,0,0,0,0,0
6,West Ham,Tottenham,A,1.410526,1.347368,1.757895,1.147368,1.347368,1.500000,1.863158,...,10,4,0,0,0,0,0,0,0,0
7,Liverpool,Southampton,H,2.189474,0.842105,1.010526,1.378947,1.926316,1.052632,1.242105,...,15,3,1,1,0,0,0,0,0,0
8,Newcastle,Man City,A,1.355263,1.223684,1.989474,0.947368,1.085526,1.467105,2.289474,...,10,15,1,0,1,1,0,0,0,0
9,Burnley,Chelsea,A,1.052632,1.184211,1.578947,1.168421,0.973684,1.414474,1.800000,...,4,6,0,0,0,0,0,0,0,0
10,Aston Villa,Newcastle,D,0.842105,1.578947,0.815789,1.710526,0.763158,1.750000,1.085526,...,1,10,0,0,1,0,1,0,0,0
11,Chelsea,Leicester,H,2.021053,0.884211,1.326316,1.631579,1.800000,1.026316,1.415789,...,6,5,0,0,0,0,0,0,0,0
12,Crystal Palace,West Ham,A,1.178947,1.315789,1.284211,1.652632,1.221053,1.436842,1.347368,...,10,10,0,0,0,0,0,0,0,0
13,Everton,Arsenal,D,1.705263,1.157895,1.610526,1.484211,1.405263,1.331579,1.894737,...,8,4,0,0,0,0,0,0,1,0
14,Southampton,West Brom,D,1.473684,1.178947,0.710526,1.355263,1.242105,1.278947,0.960526,...,3,10,0,0,0,0,0,0,0,0
15,Swansea,Burnley,H,1.197368,1.315789,0.894737,1.644737,1.059211,1.493421,0.973684,...,0,4,0,0,0,0,1,1,0,0
16,Hull,Stoke,D,1.236842,1.552632,0.881579,1.631579,0.921053,1.723684,1.085526,...,4,6,0,0,0,0,0,0,0,0
17,Sunderland,Man United,D,0.964912,1.421053,1.400000,1.189474,0.947368,1.614035,1.568421,...,3,2,0,0,0,0,0,0,1,0
18,Tottenham,QPR,H,1.968421,0.842105,1.000000,2.578947,1.863158,0.994737,1.105263,...,4,4,0,0,0,0,0,0,0,0
19,Man City,Liverpool,H,2.589474,0.821053,1.663158,1.263158,2.289474,0.884211,1.926316,...,15,15,1,1,1,1,0,0,0,0
20,Burnley,Man United,D,1.052632,1.184211,1.400000,1.189474,0.973684,1.414474,1.568421,...,4,2,0,0,0,0,0,0,1,0
21,Everton,Chelsea,A,1.705263,1.157895,1.578947,1.168421,1.405263,1.331579,1.800000,...,8,6,0,0,0,0,0,0,0,0
22,Man City,Stoke,A,2.589474,0.821053,0.881579,1.631579,2.289474,0.884211,1.085526,...,15,6,1,1,0,0,0,0,0,0
23,Newcastle,Crystal Palace,D,1.355263,1.223684,1.263158,1.557895,1.085526,1.467105,1.221053,...,10,10,1,0,0,0,0,0,0,0
24,QPR,Sunderland,H,1.210526,1.263158,0.929825,1.807018,1.105263,1.921053,0.947368,...,4,3,0,0,0,0,0,0,0,0
25,Swansea,West Brom,H,1.197368,1.315789,0.710526,1.355263,1.059211,1.493421,0.960526,...,0,10,0,0,0,0,1,1,0,0
26,West Ham,Southampton,A,1.410526,1.347368,1.010526,1.378947,1.347368,1.500000,1.242105,...,10,3,0,0,0,0,0,0,0,0
27,Aston Villa,Hull,H,0.842105,1.578947,0.605263,1.894737,0.763158,1.750000,0.921053,...,1,4,0,0,0,0,1,0,0,0
28,Leicester,Arsenal,D,1.505263,1.126316,1.610526,1.484211,1.415789,1.378947,1.894737,...,5,4,0,0,0,0,0,0,1,0
29,Tottenham,Liverpool,A,1.968421,0.842105,1.663158,1.263158,1.863158,0.994737,1.926316,...,4,15,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,Liverpool,Huddersfield,H,2.189474,0.842105,0.631579,2.052632,1.926316,1.052632,0.657895,...,15,2,1,1,0,0,0,0,1,0
1871,Brighton,Newcastle,D,1.131579,1.394737,0.815789,1.710526,0.907895,1.500000,1.085526,...,3,10,0,0,1,0,0,0,0,0
1872,Crystal Palace,Everton,D,1.178947,1.315789,1.105263,1.505263,1.221053,1.436842,1.405263,...,10,8,0,0,0,0,0,0,0,0
1873,Fulham,Cardiff,H,1.157895,1.894737,0.684211,1.631579,0.894737,2.131579,0.894737,...,9,6,1,0,0,0,0,0,0,0
1874,Southampton,Bournemouth,D,1.473684,1.178947,1.144737,1.934211,1.242105,1.278947,1.322368,...,3,7,0,0,0,0,0,0,0,0
1875,Tottenham,West Ham,A,1.968421,0.842105,1.284211,1.652632,1.863158,0.994737,1.347368,...,4,10,0,0,0,0,0,0,0,0
1876,Watford,Wolves,A,1.289474,1.407895,1.000000,1.315789,1.157895,1.585526,1.236842,...,4,10,0,0,0,0,0,0,0,0
1877,Burnley,Man City,A,1.052632,1.184211,1.989474,0.947368,0.973684,1.414474,2.289474,...,4,15,0,0,1,1,0,0,0,0
1878,Leicester,Arsenal,H,1.505263,1.126316,1.610526,1.484211,1.415789,1.378947,1.894737,...,5,4,0,0,0,0,0,0,1,0
1879,Man United,Chelsea,D,1.736842,0.736842,1.578947,1.168421,1.568421,0.963158,1.800000,...,2,6,0,0,0,0,1,0,0,0
1880,Everton,Burnley,H,1.705263,1.157895,0.894737,1.644737,1.405263,1.331579,0.973684,...,8,4,0,0,0,0,0,0,0,0
1881,Bournemouth,Tottenham,H,1.500000,1.552632,1.757895,1.147368,1.322368,1.743421,1.863158,...,7,4,0,0,0,0,0,0,0,0
1882,Cardiff,Crystal Palace,A,1.105263,2.000000,1.263158,1.557895,0.894737,1.815789,1.221053,...,6,10,0,0,0,0,0,0,0,0
1883,Newcastle,Liverpool,A,1.355263,1.223684,1.663158,1.263158,1.085526,1.467105,1.926316,...,10,15,1,0,1,1,0,0,0,0
1884,West Ham,Southampton,H,1.410526,1.347368,1.010526,1.378947,1.347368,1.500000,1.242105,...,10,3,0,0,0,0,0,0,0,0
1885,Wolves,Fulham,H,1.473684,1.105263,0.631579,2.368421,1.236842,1.210526,0.894737,...,10,9,0,0,1,0,0,0,0,0
1886,Arsenal,Brighton,D,2.178947,0.810526,0.684211,1.605263,1.894737,1.147368,0.907895,...,4,3,0,0,0,0,1,0,0,0
1887,Chelsea,Watford,H,2.021053,0.884211,1.026316,1.763158,1.800000,1.026316,1.157895,...,6,4,0,0,0,0,0,0,0,0
1888,Huddersfield,Man United,D,0.684211,1.473684,1.400000,1.189474,0.657895,1.763158,1.568421,...,2,2,0,0,0,0,1,0,1,0
1889,Man City,Leicester,H,2.589474,0.821053,1.326316,1.631579,2.289474,0.884211,1.415789,...,15,5,1,1,0,0,0,0,0,0
1890,Brighton,Man City,A,1.131579,1.394737,1.989474,0.947368,0.907895,1.500000,2.289474,...,3,15,0,0,1,1,0,0,0,0
1891,Burnley,Arsenal,A,1.052632,1.184211,1.610526,1.484211,0.973684,1.414474,1.894737,...,4,4,0,0,0,0,0,0,1,0
1892,Crystal Palace,Bournemouth,H,1.178947,1.315789,1.144737,1.934211,1.221053,1.436842,1.322368,...,10,7,0,0,0,0,0,0,0,0
1893,Fulham,Newcastle,A,1.157895,1.894737,0.815789,1.710526,0.894737,2.131579,1.085526,...,9,10,1,0,1,0,0,0,0,0
1894,Leicester,Chelsea,D,1.505263,1.126316,1.578947,1.168421,1.415789,1.378947,1.800000,...,5,6,0,0,0,0,0,0,0,0
1895,Liverpool,Wolves,H,2.189474,0.842105,1.000000,1.315789,1.926316,1.052632,1.236842,...,15,10,1,1,0,0,0,0,0,0
1896,Man United,Cardiff,A,1.736842,0.736842,0.684211,1.631579,1.568421,0.963158,0.894737,...,2,6,0,0,0,0,1,0,0,0
1897,Southampton,Huddersfield,D,1.473684,1.178947,0.631579,2.052632,1.242105,1.278947,0.657895,...,3,2,0,0,0,0,0,0,1,0
1898,Tottenham,Everton,D,1.968421,0.842105,1.105263,1.505263,1.863158,0.994737,1.405263,...,4,8,0,0,0,0,0,0,0,0
1899,Watford,West Ham,A,1.289474,1.407895,1.284211,1.652632,1.157895,1.585526,1.347368,...,4,10,0,0,0,0,0,0,0,0

In [81]:
data=pd.read_csv('five_season_soccer_clean.csv')
data.head()

   Unnamed: 0    HomeTeam        AwayTeam  H2H_HW  H2H_AW  Drawn
0           0     Arsenal  Crystal Palace       6       2      2
1           1   Leicester         Everton       4       4      2
2           2  Man United         Swansea       4       3      1
3           3         QPR            Hull       0       2      0
4           4       Stoke     Aston Villa       3       1      0

In [82]:
H2H_HW=[]
H2H_AW=[]
Drawn=[]
for i,row in feature_table.iterrows():
    x=data[((data['HomeTeam']==row['HomeTeam'])&(data['AwayTeam']==row['AwayTeam'])) | ((data['HomeTeam']==row['AwayTeam'])&(data['AwayTeam']==row['HomeTeam']))]
    
    def check():
        return row['HomeTeam']==x['HomeTeam']
       
    if check().bool():
        H2H_HW.append(x['H2H_HW'].values[0])
        
        H2H_AW.append(x['H2H_AW'].values[0])
        
        Drawn.append(x['Drawn'].values[0])
        
           
    else:
        H2H_HW.append(x['H2H_AW'].values[0])
        
        H2H_AW.append(x['H2H_HW'].values[0])
       
        Drawn.append(x['Drawn'].values[0])
       
            

feature_table['H2h_HW']=H2H_HW
feature_table['H2h_AW']=H2H_AW
feature_table['Drawn']=Drawn

In [83]:
feature_table

,HomeTeam,AwayTeam,FTR,HT_GSPGAH,HT_GCPGAH,AT_GSPGAA,AT_GCPGAA,HT_GSPG,HT_GCPG,AT_GSPG,...,HT_WS4,AT_WS2,AT_WS4,HT_LS2,HT_LS4,AT_LS2,AT_LS4,H2h_HW,H2h_AW,Drawn
0,Arsenal,Crystal Palace,H,2.178947,0.810526,1.263158,1.557895,1.894737,1.147368,1.221053,...,0,0,0,1,0,0,0,6,2,2
1,Leicester,Everton,D,1.505263,1.126316,1.105263,1.505263,1.415789,1.378947,1.405263,...,0,0,0,0,0,0,0,4,4,2
2,Man United,Swansea,A,1.736842,0.736842,0.921053,1.671053,1.568421,0.963158,1.059211,...,0,0,0,1,0,1,1,4,3,1
3,QPR,Hull,A,1.210526,1.263158,0.605263,1.894737,1.105263,1.921053,0.921053,...,0,0,0,0,0,0,0,0,2,0
4,Stoke,Aston Villa,A,1.289474,1.315789,0.684211,1.921053,1.085526,1.473684,0.763158,...,0,0,0,0,0,1,0,3,1,0
5,West Brom,Sunderland,D,1.210526,1.355263,0.929825,1.807018,0.960526,1.355263,0.947368,...,0,0,0,0,0,0,0,2,0,4
6,West Ham,Tottenham,A,1.410526,1.347368,1.757895,1.147368,1.347368,1.500000,1.863158,...,0,0,0,0,0,0,0,3,5,2
7,Liverpool,Southampton,H,2.189474,0.842105,1.010526,1.378947,1.926316,1.052632,1.242105,...,1,0,0,0,0,0,0,6,1,3
8,Newcastle,Man City,A,1.355263,1.223684,1.989474,0.947368,1.085526,1.467105,2.289474,...,0,1,1,0,0,0,0,1,6,1
9,Burnley,Chelsea,A,1.052632,1.184211,1.578947,1.168421,0.973684,1.414474,1.800000,...,0,0,0,0,0,0,0,1,4,3
10,Aston Villa,Newcastle,D,0.842105,1.578947,0.815789,1.710526,0.763158,1.750000,1.085526,...,0,1,0,1,0,0,0,0,1,3
11,Chelsea,Leicester,H,2.021053,0.884211,1.326316,1.631579,1.800000,1.026316,1.415789,...,0,0,0,0,0,0,0,5,2,3
12,Crystal Palace,West Ham,A,1.178947,1.315789,1.284211,1.652632,1.221053,1.436842,1.347368,...,0,0,0,0,0,0,0,1,5,4
13,Everton,Arsenal,D,1.705263,1.157895,1.610526,1.484211,1.405263,1.331579,1.894737,...,0,0,0,0,0,1,0,2,7,1
14,Southampton,West Brom,D,1.473684,1.178947,0.710526,1.355263,1.242105,1.278947,0.960526,...,0,0,0,0,0,0,0,4,2,2
15,Swansea,Burnley,H,1.197368,1.315789,0.894737,1.644737,1.059211,1.493421,0.973684,...,0,0,0,1,1,0,0,5,1,0
16,Hull,Stoke,D,1.236842,1.552632,0.881579,1.631579,0.921053,1.723684,1.085526,...,0,0,0,0,0,0,0,0,3,1
17,Sunderland,Man United,D,0.964912,1.421053,1.400000,1.189474,0.947368,1.614035,1.568421,...,0,0,0,0,0,1,0,1,4,1
18,Tottenham,QPR,H,1.968421,0.842105,1.000000,2.578947,1.863158,0.994737,1.105263,...,0,0,0,0,0,0,0,2,0,0
19,Man City,Liverpool,H,2.589474,0.821053,1.663158,1.263158,2.289474,0.884211,1.926316,...,1,1,1,0,0,0,0,3,5,2
20,Burnley,Man United,D,1.052632,1.184211,1.400000,1.189474,0.973684,1.414474,1.568421,...,0,0,0,0,0,1,0,0,4,4
21,Everton,Chelsea,A,1.705263,1.157895,1.578947,1.168421,1.405263,1.331579,1.800000,...,0,0,0,0,0,0,0,2,5,3
22,Man City,Stoke,A,2.589474,0.821053,0.881579,1.631579,2.289474,0.884211,1.085526,...,1,0,0,0,0,0,0,5,2,1
23,Newcastle,Crystal Palace,D,1.355263,1.223684,1.263158,1.557895,1.085526,1.467105,1.221053,...,0,0,0,0,0,0,0,2,2,4
24,QPR,Sunderland,H,1.210526,1.263158,0.929825,1.807018,1.105263,1.921053,0.947368,...,0,0,0,0,0,0,0,2,0,0
25,Swansea,West Brom,H,1.197368,1.315789,0.710526,1.355263,1.059211,1.493421,0.960526,...,0,0,0,1,1,0,0,4,2,2
26,West Ham,Southampton,A,1.410526,1.347368,1.010526,1.378947,1.347368,1.500000,1.242105,...,0,0,0,0,0,0,0,5,4,1
27,Aston Villa,Hull,H,0.842105,1.578947,0.605263,1.894737,0.763158,1.750000,0.921053,...,0,0,0,1,0,0,0,1,1,0
28,Leicester,Arsenal,D,1.505263,1.126316,1.610526,1.484211,1.415789,1.378947,1.894737,...,0,0,0,0,0,1,0,2,6,2
29,Tottenham,Liverpool,A,1.968421,0.842105,1.663158,1.263158,1.863158,0.994737,1.926316,...,0,1,1,0,0,0,0,1,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,Liverpool,Huddersfield,H,2.189474,0.842105,0.631579,2.052632,1.926316,1.052632,0.657895,...,1,0,0,0,0,1,0,4,0,0
1871,Brighton,Newcastle,D,1.131579,1.394737,0.815789,1.710526,0.907895,1.500000,1.085526,...,0,1,0,0,0,0,0,2,0,2
1872,Crystal Palace,Everton,D,1.178947,1.315789,1.105263,1.505263,1.221053,1.436842,1.405263,...,0,0,0,0,0,0,0,1,4,5
1873,Fulham,Cardiff,H,1.157895,1.894737,0.684211,1.631579,0.894737,2.131579,0.894737,...,0,0,0,0,0,0,0,1,1,0
1874,Southampton,Bournemouth,D,1.473684,1.178947,1.144737,1.934211,1.242105,1.278947,1.322368,...,0,0,0,0,0,0,0,3,1,4
1875,Tottenham,West Ham,A,1.968421,0.842105,1.284211,1.652632,1.863158,0.994737,1.347368,...,0,0,0,0,0,0,0,5,3,2
1876,Watford,Wolves,A,1.289474,1.407895,1.000000,1.315789,1.157895,1.585526,1.236842,...,0,0,0,0,0,0,0,1,1,0
1877,Burnley,Man City,A,1.052632,1.184211,1.989474,0.947368,0.973684,1.414474,2.289474,...,0,1,1,0,0,0,0,1,5,2
1878,Leicester,Arsenal,H,1.505263,1.126316,1.610526,1.484211,1.415789,1.378947,1.894737,...,0,0,0,0,0,1,0,2,6,2
1879,Man United,Chelsea,D,1.736842,0.736842,1.578947,1.168421,1.568421,0.963158,1.800000,...,0,0,0,1,0,0,0,2,3,5
1880,Everton,Burnley,H,1.705263,1.157895,0.894737,1.644737,1.405263,1.331579,0.973684,...,0,0,0,0,0,0,0,5,3,0
1881,Bournemouth,Tottenham,H,1.500000,1.552632,1.757895,1.147368,1.322368,1.743421,1.863158,...,0,0,0,0,0,0,0,1,6,1
1882,Cardiff,Crystal Palace,A,1.105263,2.000000,1.263158,1.557895,0.894737,1.815789,1.221053,...,0,0,0,0,0,0,0,0,1,1
1883,Newcastle,Liverpool,A,1.355263,1.223684,1.663158,1.263158,1.085526,1.467105,1.926316,...,0,1,1,0,0,0,0,2,4,2
1884,West Ham,Southampton,H,1.410526,1.347368,1.010526,1.378947,1.347368,1.500000,1.242105,...,0,0,0,0,0,0,0,5,4,1
1885,Wolves,Fulham,H,1.473684,1.105263,0.631579,2.368421,1.236842,1.210526,0.894737,...,0,1,0,0,0,0,0,1,0,1
1886,Arsenal,Brighton,D,2.178947,0.810526,0.684211,1.605263,1.894737,1.147368,0.907895,...,0,0,0,1,0,0,0,1,1,2
1887,Chelsea,Watford,H,2.021053,0.884211,1.026316,1.763158,1.800000,1.026316,1.157895,...,0,0,0,0,0,0,0,5,1,2
1888,Huddersfield,Man United,D,0.684211,1.473684,1.400000,1.189474,0.657895,1.763158,1.568421,...,0,0,0,1,0,1,0,1,2,1
1889,Man City,Leicester,H,2.589474,0.821053,1.326316,1.631579,2.289474,0.884211,1.415789,...,1,0,0,0,0,0,0,6,3,1
1890,Brighton,Man City,A,1.131579,1.394737,1.989474,0.947368,0.907895,1.500000,2.289474,...,0,1,1,0,0,0,0,0,4,0
1891,Burnley,Arsenal,A,1.052632,1.184211,1.610526,1.484211,0.973684,1.414474,1.894737,...,0,0,0,0,0,1,0,0,8,0
1892,Crystal Palace,Bournemouth,H,1.178947,1.315789,1.144737,1.934211,1.221053,1.436842,1.322368,...,0,0,0,0,0,0,0,2,2,4
1893,Fulham,Newcastle,A,1.157895,1.894737,0.815789,1.710526,0.894737,2.131579,1.085526,...,0,1,0,0,0,0,0,0,1,1
1894,Leicester,Chelsea,D,1.505263,1.126316,1.578947,1.168421,1.415789,1.378947,1.800000,...,0,0,0,0,0,0,0,2,5,3
1895,Liverpool,Wolves,H,2.189474,0.842105,1.000000,1.315789,1.926316,1.052632,1.236842,...,1,0,0,0,0,0,0,2,0,0
1896,Man United,Cardiff,A,1.736842,0.736842,0.684211,1.631579,1.568421,0.963158,0.894737,...,0,0,0,1,0,0,0,1,1,0
1897,Southampton,Huddersfield,D,1.473684,1.178947,0.631579,2.052632,1.242105,1.278947,0.657895,...,0,0,0,0,0,1,0,1,0,3
1898,Tottenham,Everton,D,1.968421,0.842105,1.105263,1.505263,1.863158,0.994737,1.405263,...,0,0,0,0,0,0,0,6,0,4
1899,Watford,West Ham,A,1.289474,1.407895,1.284211,1.652632,1.157895,1.585526,1.347368,...,0,0,0,0,0,0,0,4,3,1

In [122]:
data=pd.read_csv('HTWPAH_VS_AT_final.csv')
data.head()

,Unnamed: 0,Unnamed: 0.1,HomeTeam,AwayTeam,H2H_HW,H2H_AW,Drawn,HTWPAH_VS_AT
0,0,0,Arsenal,Crystal Palace,3,1,1,60.0
1,1,1,Leicester,Everton,2,2,1,40.0
2,2,2,Man United,Swansea,2,1,1,50.0
3,3,3,QPR,Hull,0,1,0,0.0
4,4,4,Stoke,Aston Villa,1,1,0,50.0

In [137]:
HTWPAH_VS_AT=[]
for i,row in feature_table.iterrows():
    x=data[(data['HomeTeam']==row['HomeTeam'])&(data['AwayTeam']==row['AwayTeam'])]
  
    HTWPAH_VS_AT.append(x['HTWPAH_VS_AT'].values[0])
                  

feature_table['HTWPAH_VS_AT']=HTWPAH_VS_AT

In [138]:
#Function to transform FTR into numeric data type
def transformResult(row):
    if(row.FTR == 'H'):
        return 1
    elif(row.FTR == 'A'):
        return -1
    else:
        return 0

In [139]:
feature_table["Result"] = feature_table.apply(lambda row: transformResult(row),axis=1)

feature_table.head()

,HomeTeam,AwayTeam,FTR,HT_GSPGAH,HT_GCPGAH,AT_GSPGAA,AT_GCPGAA,HT_GSPG,HT_GCPG,AT_GSPG,AT_GCPG,HT_PPG,AT_PPG,HT_LSLP,AT_LSLP,HT_WNP,AT_WNP,HT_LFMFP,AT_LFMFP,HT_WS2,HT_WS4,AT_WS2,AT_WS4,HT_LS2,HT_LS4,AT_LS2,AT_LS4,H2h_HW,H2h_AW,Drawn,HTWPAH_VS_AT,Result
0,Arsenal,Crystal Palace,H,2.178947,0.810526,1.263158,1.557895,1.894737,1.147368,1.221053,1.436842,1.863158,1.178947,70,49,56,33,4,10,0,0,0,0,1,0,0,0,6,2,2,60.0,1
1,Leicester,Everton,D,1.505263,1.126316,1.105263,1.505263,1.415789,1.378947,1.405263,1.331579,1.394737,1.357895,52,54,39,36,5,8,0,0,0,0,0,0,0,0,4,4,2,40.0,0
2,Man United,Swansea,A,1.736842,0.736842,0.921053,1.671053,1.568421,0.963158,1.059211,1.493421,1.852632,1.164474,66,33,54,32,2,0,0,0,0,0,1,0,1,1,4,3,1,50.0,-1
3,QPR,Hull,A,1.210526,1.263158,0.605263,1.894737,1.105263,1.921053,0.921053,1.723684,0.789474,0.907895,30,34,22,23,4,4,0,0,0,0,0,0,0,0,0,2,0,0.0,-1
4,Stoke,Aston Villa,A,1.289474,1.315789,0.684211,1.921053,1.085526,1.473684,0.763158,1.750000,1.197368,0.723684,33,17,31,18,6,1,0,0,0,0,0,0,1,0,3,1,0,50.0,-1

In [140]:
feature_table.to_csv('EPL_new_dataset.csv')

In [180]:
x=feature_table.iloc[:,3:31]
y=feature_table.iloc[:,31]

In [181]:
from sklearn import preprocessing
minmax=preprocessing.MinMaxScaler(feature_range=(0,1))
x=minmax.fit(x).transform(x)
x

array([[0.78453039, 0.05833333, 0.50359712, ..., 0.25      , 0.33333333,
        0.6       ],
       [0.43093923, 0.30833333, 0.39568345, ..., 0.5       , 0.33333333,
        0.4       ],
       [0.55248619, 0.        , 0.26978417, ..., 0.375     , 0.16666667,
        0.5       ],
       ...,
       [0.41436464, 0.35      , 0.07194245, ..., 0.        , 0.5       ,
        0.        ],
       [0.67403315, 0.08333333, 0.39568345, ..., 0.        , 0.66666667,
        0.6       ],
       [0.31767956, 0.53125   , 0.51798561, ..., 0.375     , 0.16666667,
        0.5       ]])

In [216]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [222]:
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier

# m =SVC(C= 10, gamma= 0.2, kernel ='rbf')
# m =SVC(C= 1,kernel ='linear')
# m= RandomForestClassifier(min_samples_split=200)
# m =MultinomialNB()
# m= LogisticRegression(random_state=42)
# m=GradientBoostingClassifier(n_estimators=100,learning_rate=0.1,max_depth=1,random_state=33)

m.fit(X_train,y_train)

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=42, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [223]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV,cross_val_score
from sklearn.metrics import f1_score,make_scorer

In [224]:
cross_val_score(m,x,y,cv=10).mean()

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.6664441353529257

In [218]:
y_pred=m.predict(X_test)
y_pred

array([-1,  1, -1, -1,  0, -1, -1, -1, -1,  1,  1,  0, -1, -1,  1,  1, -1,
        0,  1, -1,  1,  1, -1,  0, -1,  1,  1, -1,  0, -1, -1, -1,  1, -1,
        1, -1,  1,  1,  1,  1, -1,  1,  1,  1, -1,  1,  0, -1,  1,  1,  1,
        1,  0,  0, -1,  0,  1,  1,  1, -1,  1, -1, -1,  0, -1, -1,  0,  1,
        1,  1,  1,  0,  1,  1,  1,  0,  1,  1,  1,  1,  0, -1,  1,  1,  1,
        0,  0,  1,  1,  1,  1, -1,  1,  0,  0,  0, -1,  1,  1,  1,  1,  1,
        1,  1, -1,  0, -1,  1, -1, -1, -1,  1,  0,  0, -1,  1,  1,  1, -1,
        1,  1,  1, -1,  1, -1, -1,  1,  1,  1,  1,  1, -1,  0,  1,  1,  1,
        1,  0,  1,  1, -1,  1, -1,  0,  1,  1, -1,  1, -1, -1, -1,  1,  0,
        1,  0, -1,  1,  1,  1,  1,  0,  1,  1,  1,  1,  1, -1,  0,  1, -1,
       -1,  1,  1,  1,  1,  0,  1,  1,  1,  1,  1,  0,  1,  1,  1, -1, -1,
        1,  0,  1,  0,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1, -1,  0,  1, -1, -1, -1,  1, -1,  0,  0,  0,
        1, -1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  0,  1,  1,
        1,  1,  0,  1,  1,  0,  1,  1, -1,  1, -1,  1,  0, -1, -1,  1,  1,
        1,  1,  1,  0, -1, -1,  1,  1,  1, -1, -1,  1,  1, -1,  1, -1, -1,
        0,  1,  1,  1, -1, -1, -1,  1,  1,  1,  1, -1,  1,  0,  0, -1,  0,
       -1, -1, -1,  1,  1,  1,  1, -1, -1, -1,  1,  1,  1, -1, -1,  1,  0,
        1,  1, -1,  0, -1, -1,  0,  1, -1, -1,  1,  1, -1,  1, -1, -1,  1,
        1,  1, -1,  0,  1, -1, -1,  1, -1,  1, -1,  0,  1, -1, -1,  1,  1,
       -1, -1, -1,  1,  0,  1,  1,  1,  1,  0, -1, -1, -1, -1,  1,  1,  1,
        1, -1,  1,  1,  1,  1,  1,  1, -1, -1,  1,  1,  1,  1, -1,  1, -1,
        1,  0,  0,  1, -1,  1], dtype=int64)

In [219]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(y_pred,y_test))
print(classification_report(y_pred,y_test))

[[ 70  25  20]
 [ 15  29  11]
 [ 35  33 142]]
              precision    recall  f1-score   support

          -1       0.58      0.61      0.60       115
           0       0.33      0.53      0.41        55
           1       0.82      0.68      0.74       210

    accuracy                           0.63       380
   macro avg       0.58      0.60      0.58       380
weighted avg       0.68      0.63      0.65       380